<footer class="sigma-footer">
    <div class="sigma-footer-top" >
        <div class="container-fluid">
            <div class="row no-gutters">
                <div  class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--====== Back to top ======-->
                            <div class="sigma-backto-top">
                                <a href="#" class="back-to-top" id="backToTop" *ngIf="isShow" (click)="gotoTop()" (window:scroll)="ScrolltoTop()">
                                    <i class="fal fa-chevron-up"></i> Başa dönüş
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="h-100 d-flex align-items-center justify-content-end">
                                <select nice-select>
                                    <option>English</option>
                                    <option>Español</option>
                                </select>
                                <select nice-select>
                                    <option>USD</option>
                                    <option>GBP</option>
                                    <option>INR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--====== Footer content ======-->
                    <div class="sigma-footer-box">
                        <div class="sigma-footer-box-top">
                            <div class="site-logo site-logo-text">
                                <a routerLink='/'>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                                      <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z" fill="#ffffff" />
                                      <path class="diamond-spark spark-1" d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-2" d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-3" d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-4" d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
                                  </svg>
                                    <div class="site-logo-text">
                                        <h3>Kapadokya</h3>
                                        <h6>Davet Organizasyon</h6>
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="ft-logo">
                                <a routerLink='/'>
                                    <img src="{{ logo }}" alt="Logo">
                                </a>
                            </div> -->
                            <ul class="ft-social-media">
                                <li>
                                    <a style="cursor: pointer;">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/kapadokyaorganizasyonvedavet/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a style="cursor: pointer;">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sigma-footer-nav">
                            <ul class="ft-nav">
                                <li class="menu-item">
                                    <a routerLink='/'>
                                        Anasayfa
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/about'>
                                        Hakkında
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/blog-detail'>
                                        Haberler
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/gallery'>
                                        Galeri
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/contact'>
                                        İletişim
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"> 
                    <iframe class="contact-maps" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d655.2556805566223!2d34.72135594393767!3d38.62728733877561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1snev%C5%9Fehir%20milli%20irade%20caddesi%20no%2047!5e0!3m2!1str!2str!4v1650187920750!5m2!1str!2str" 
                    width="600" height="450" style="border:0; ;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                     
                </div>
            </div>
        </div>
    </div>
    <div class="sigma-footer-bottom">
        <div class="container-fluid">
            <div class="sigma-footer-bottom-inner">
                <div class="row no-gutters align-items-end">
                    <div class="col-lg-6">
                        <div class="sigma-footer-contact">
                            <ul>
                                <li>
                                    <i class="flaticon-phone"></i>
                                    <a href="tel:0532 453 04 35"><span>Telefon</span> +0532 453 04 35</a>
                                </li>
                                <li>
                                    <i class="flaticon-message"></i>
                                    <a href="mailto:ajanssahin@hotmail.com"><span>Email Adres</span> ajanssahin@hotmail.com </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="sigma-footer-search">
                            <form>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button><i class="fal fa-search"></i></button>
                                    </div>
                                    <input type="text" name="#" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="sigma-footer-contact style-2">
                            <ul>
                                <li>
                                    <i class="flaticon-location-pin"></i>
                                    <a href="contact"><span>Ofis Adres</span> Yeni Mahalle Milli İrade Caddesi No 47 <br> Nevşehir/Merkez</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="sigma-copyright">
        <div class="container-fluid">
            <div class="sigma-copyright-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-5 order-2 order-md-1">
                        <p class="sigma-copyright-text">Copyright By@<a href="#">Kapadokya Davet Organizasyon</a> - 2022</p>
                    </div>
                    <div class="col-lg-6 col-md-7 order-1 order-md-2">
                        <div class="sigma-copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Kullanım Şartları</a>
                                </li>
                                <li>
                                    <a href="#">Gizlilik Çevre Politikası</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>