<!-- Search Widget -->
<!-- <div class="widget search-widget">
    <h5 class="widget-title">Search room</h5>
    <form action="#">
        <input type="text" placeholder="Search your keyword...">
        <button type="submit"><i class="far fa-search"></i>
      </button>
    </form>
</div> -->
<!-- About Widget -->
<div class="widget about-widget">
    <h5 class="widget-title">Hakkında</h5>
    <p>
        Genç ve dinamik bir kadroyla 2002 yılında faaliyete başlayan firmamız Animasyon, Organizasyon, 
        Süsleme ve Reklamcılık alanlarında hizmet vermektedir. Firmamız 2 kişilik partilerden, 5000 kişilik şenliklere, küçük-büyük demeden aynı önemi vererek yaptığımız
        işi severek yapmamız ve müşteri memnuniyetini esas alan yaklaşımımız, bizi farklı kılan en önemli özellikliklermizden
        bir tanesidir.
          
    </p>
</div>
<!-- Nav Widget -->
<div class="widget nav-widget">
    <h5 class="widget-title">Sayfalarımız</h5>
    <ul>
        <li><a href='/about'>Hakkımızda</a>
        </li>
        <li><a href='/classification'>Sınıflandırma</a>
        </li>
        <li>
            <a href='/shop-left'>Mağaza</a>
            <ul class="submenu">
                <li><a href='/gallery'>Galeri 2 Columns</a>
                </li>
                <li><a href='/gallery-two'>Galeri 3 Columns</a>
                </li>
                <!-- <li><a href='/shop-right'>Sağ Sideba'dan alışveriş yapın</a>
                </li>
                <li><a href='/shop-right-two'>Sağ Kenar Çubuğu v2'yi satın alın</a>
                </li>
                <li><a href='/shop-detail'>Mağaza Detayı</a>
                </li> -->
            </ul>
        </li>
        <li>
            <a href='/blog-grid'>Blog</a>
            <ul class="submenu">
                <li><a href='/blog-grid-sidebar'>Blog Grid Sidebar</a>
                </li>
                <li><a href='/blog-detail'>Blog Details</a>
                </li>
                <li><a href='/blog-grid'>Blog Grid</a>
                </li>
                <!-- <li><a href='/blog-list'>Blog List</a>
                </li> -->
            </ul>
        </li>
        <li><a href='/organizasyon'>Organizasyon</a>
        </li>
        <li><a href='/team'>Takım</a>
        </li>
        <li><a href='/contact'>Bizimle iletişime geçin</a>
        </li>
    </ul>
</div>
<!-- Social Link -->
<div class="widget social-link">
    <h5 class="widget-title">Bizimle iletişime geç</h5>
    <ul>
        <li><a style="cursor: pointer;"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li><a style="cursor: pointer;"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li><a href="/https://www.instagram.com/kapadokyaorganizasyonvedavet/"><i class="fab fa-instagram"></i></a>
        </li>
        <li><a style="cursor: pointer;"><i class="fab fa-linkedin"></i></a>
        </li>
        <li><a href="/mailto:"><i class="fab fa-google"></i></a>
        </li>
    </ul>
</div>