<app-header></app-header>
<app-breadcrumb></app-breadcrumb>




<section class="Shop-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Shop Sidebar -->
            <div class="col-lg-4 col-md-10 col-sm-10">
                 </div>
            <div class="col-lg-12 col-md-12">
                <div class="shop-products-wrapper">
                    <div class="product-wrapper restaurant-tab-area">
                        <div class="row">

                            <!-- TS JS ÇEKİM DİNAMİK OLMAYAN ORGANİZASYON -->
    
                   

                            
                            <div class="col-lg-4 col-md-6" *ngFor="let orAnimasyone of orAnimasyones">
                                <div class="food-box shop-box style-2">
                                    <div class="thumb">
                                        <img src="{{baseUrl}}{{orAnimasyone.photo}}" alt="images">
                                        <div class="badges" >
                                            <!-- <span class="price discounted">{{organizasyon.tag}}</span> -->
                                        </div>
                                        <div class="button-group">
                                            <!-- <a href="contact"><i class="far fa-heart"></i></a>
                                            <a href="contact"><i class="far fa-sync-alt"></i></a> -->
                                            <a href="organizasyon" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="desc text-center">
                                        <h4>
                                            <a routerLink='/contact'>{{orAnimasyone.detay}} </a>
                                        </h4>
                                        <!-- <span> {{organizasyon.detay}} </span> -->
                                         <!-- <span class="price">${{shopgrid.price}} <span>${{shopgrid.discountprice}}</span></span>   -->
                                        <a href="contact" class="main-btn btn-filled mt-10">Add to Cart</a>
                                    </div>
                                </div>
                            </div>  



                        </div>
                    </div>
                </div>
                 <!-- <div class="pagination-wrap">
                    <app-pagination></app-pagination>
                </div>  -->
            </div>
        </div>
    </div>
</section>


<app-footerthree></app-footerthree>
