<!-- <app-backtotop></app-backtotop> -->
<footer class="footer-two">
    <div class="footer-widget-area pt-100 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 order-1">
                    <!-- Site Info Widget -->
                    <div class="widget site-info-widget mb-50">
                        <div class="footer-logo mb-50">
                            <div class="site-logo site-logo-text">
                                <a href='/'>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                                      <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z" fill="#ffffff" />
                                      <path class="diamond-spark spark-1" d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-2" d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-3" d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                                      <path class="diamond-spark spark-4" d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
                                  </svg>
                                    <div class="site-logo-text">
                                        <h3>Kapadokya</h3>
                                        <h6>Davet Organizasyon</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p>
                            Firmamız, genç ve dinamik bir kadro ile 2002 yılında Animasyon, Organizasyon, Süsleme ve Reklamcılık
                            alanlarında hizmet vermeye başladı. Önemli referanslara sahip işlerde başarılı bir şekilde yer aldık.
                            2 kişilik partilerden 5000 kişilik şenliklere kadar her ölçekteki etkinlikler için aynı özeni göstererek,
                            işimizi severek yapıyoruz ve müşteri memnuniyetini esas alan bir yaklaşım sergiliyoruz. Bu özelliklerimizle
                            farklıyız ve siz de Kapadokya Davet ve Organizasyon olarak bu farkı hissedebilirsiniz
                        </p>
                        <!-- <p>
                            Genç ve dinamik bir kadroyla 2002 yılında faaliyete başlayan firmamız Animasyon, Organizasyon, 
                            Süsleme ve Reklamcılık alanlarında hizmet vermektedir. Önemli referanslara sahip işlerin altından başarıyla çıkmıştır.
                            Firmamız 2 kişilik partilerden, 5000 kişilik şenliklere, küçük-büyük demeden aynı
                            önemi vererek yaptığımız işi severek yapmamız
                            ve müşteri memnuniyetini esas alan yaklaşımımız, ile bizi farklı kılan özellikliklermizden sizlerde faydalanın.
                        </p> -->
                        <div class="social-links mt-40">
                            
                            <a style="cursor: pointer;"><i class="fab fa-facebook-f"></i></a>
                            <a style="cursor: pointer;"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="https://www.instagram.com/kapadokyaorganizasyonvedavet/" target="_blank"> <i class="fab fa-instagram"></i> </a>
                            <a style="cursor: pointer;"><i class="fab fa-behance"></i></a>
                            <a style="cursor: pointer;"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-3 order-lg-2">
                    <!-- Nav Widget -->
                    <div class="widget nav-widget mb-50">
                        <div>
                            <h4 class="widget-title">Yeni Koleksiyonlar.</h4>
                            <ul>
                                <li><a href="/organizasyonDüğün">Düğün Organizasyonu</a></li>
                                <li><a href="/organizasyonKına">Kına Organizasyonu</a></li>
                                <li><a href="/organizasyonNisan">Nişan Organizasyonu </a></li>
                                <li><a href="/organizasyonBabyShower">Bayb Shower Organizasyonu </a></li>
                                <li><a href="/organizasyonSunnet">Sünnet Organizasyonu</a></li>
                                <li><a href="/ekipmanKiralama">Ekipman Kiralama</a></li>
                                <li><a href="/personelTemini">Personel Temini</a></li>
                                <li><a href="/organizasyonAnimasyonEkini">Palyaço ve Kostümlü Personel</a></li>
                                <li><a href="/sokakLezzetleri">Sokak Lezzetleri Araçları</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 order-2 order-lg-3">
                    <!-- Contact Widget -->
                    <div class="widget contact-widget mb-50">
                        <h4 class="widget-title">Bizimle iletişime geçin.</h4>
                        <div class="contact-lists">
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-phone"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Telefon</h6>
                                    +0532 453 04 35
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-message"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Email Adres</h6>
                                    <a href="mailto:ajanssahin@hotmail.com">ajanssahin@hotmail.com</a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-location-pin"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Ofis Adres</h6>
                                    Yeni Mahalle Milli İrade Caddesi No 47 Nevşehir/Merkez
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-30 pb-30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 order-2 order-md-1">
                    <p class="copyright-text copyright-two">Copyright By@<a href="/contact">KapadokyaDavetOrganizasyon</a> - 2023</p>
                </div>
                <div class="col-lg-6 col-md-7 order-1 order-md-2">
                    <div class="footer-menu text-center text-md-right">
                        <ul>
                            <li><a href="/contact">Kullanım Şartları</a></li>
                            <li><a href="/contact">Gizlilik Çevre Politikası</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>