<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== BLOG SECTION START ======-->
<section class="blog-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center column-reverse">
            <div class="col-lg-8">
                <div class="news-details-box">
                    <div class="entry-content">
                        <a href="/" class="cat">KURULUŞ</a>
                        <h2 class="title">Renkli İz Bırakan Anlar Nasıl Oluşur? </h2>
                        <ul class="post-meta">
                            <li><a href="/"><i class="fal fa-user"></i>by Piklo D. Sindom</a></li>
                            <li><a href="/"><i class="fal fa-calendar-alt"></i>24th March 2023</a></li>
                            <li><a href="/"><i class="fal fa-comments"></i>54 Comments</a></li>
                        </ul>
                        <p class="mb-30">
                            Duygularınızı anlatmak, sürprizlerinizi daha anlamlı kılmak için özel günlerde ve size özel 
                            bütün zamanlarda sevdiklerinize güzel sözler söylemek istersiniz. Bunlar bazen göz göze bazen bir telefon mesajı 
                            ile bazen de mis kokulu bir çiçeğin yanında dile gelir. Kimi zaman yıldönümü kimi zaman doğum günü bahanesidir.
                            Sevmek daima beraber olmak değil, onsuzken bile onunla olabilmektir.
                            Hastayken bile güleceksiniz ki iyileşebilesiniz. Biz hep sizin yanınızda olacaz ki hastalıklar bizden uzak olsun.
                            Yaşantınızı farklılaştırmak yolunda attığınız her adımda yanınızda olduğumuzu bilin.
                        </p>
                        <p>
                            Bir çok insan yapabileceğini düşündüğünden daha ileri gitti, 
                            Mutluluk içinizde başlar.  
                            Sevdiklerinize güzel sözler söyleyebilmek için birçok ortam ve zaman dilimi bulunur. Çoğunlukla Sevgililer Günü, 
                            doğum günü, Anneler Günü, Babalar Günü, evlilik yıl dönümü ve bayramlarda güzel 
                            sözler söylenir. Ayrıca yeni yıl tebrikleri, geçmiş olsun ve özür dileme mesajlarında da güzel sözlere yer verilir.
                            Bu anlamda değerlerinize değer katmak mutlu anlarınızı renklendirmek için tüm kalbimizle sizlerleyiz.
                        </p>
                        <figure class="mt-45 mb-45">
                            <img src="{{blogimg}}" alt="Image">
                        </figure>
                        <h3 class="subtitle">Çiçek, Bitki Alerjiniz Varsa Ne Kullanırsınız?</h3>
                        <p>
                            Doğanın uyandığı, kuşların şarkılar söylediği, yeni başlangıçlar için heyecanlandığımız bahar, birçoğumuz için alerji yüzünden kâbusa dönüyor.
                            Ancak bahar alerjisine neden olmayan birçok çiçek türü var. <br> ALEV ÇİÇEĞİ (PHLOX PANICULATA):  BEGONVİL (BOUGAINVILLEA): BEGONYA (BEGONIA L.): 
                            EBEGÜMECİ ÇİÇEĞİ-HIBISKUS (HIBISCUS): GERANYUM (PELARGONIUM): GÜL (ROSA): HASEKİ KÜPESİ (AQUILEGIA): HERCAİ MENEKŞE (VIOLA TRICOLOR VAR. HORTENSIS):
                            İRİS (IRIS GERMANICA L.): KAMELYA ÇİÇEĞİ (CAMMELIA): KINA ÇİÇEĞİ (IMPATIENS BALSAMINA): LILYUM, ZAMBAK (LILIUM): ve onlarcası tek yapmanız gereken
                            çiçeklerinizi seçerken polenleri hava ile taşınmayanlarını seçmenizdir bunların içinde bahçe ve ev çiçekleride mevcuttur. 
                        </p>
                        <div class="gap"></div>
                        <h3 class="subtitle">Ruh halini tütsü ile ayarlamak? </h3>
                        <p>
                            Bilimsel çalışmalar üzerinden de faydaları kanıtlanmış olan tütsü, fiziksel ve psikolojik olarak her iki şekilde de yarar teşkil etmektedir. 
                            Yüzyıllardır dünyanın birçok farklı yerinde kullanılan tütsü, özellikle çevredeki
                             kötü enerjiyi uzaklaştırması ve sunduğu güzel koku ile çok fazla tercih edilmektedir.
                        </p>
                        <div class="gap"></div>
                        
                        <h3 class="subtitle">Ruh halini tütsü ile ayarlamak</h3>
                        <ul class="list-icon">
                            <li>Negatif etkileri yok eder ve zihinsel olarak kişinin rahatlamasını sağlar.</li>
                            <li>Stres, kaygı ve bu gibi birçok farklı problemin vücuttan atılmasını destekler.</li>
                            <li>Ortamdaki kötü kokuların uzaklaştırılmasını sağlar.</li>
                            <li>Zihni rahatlatır ve odaklanma imkanı verir.</li>
                            <li>Daha rahat nefes alma imkanı ile kan basıncı ve kolesterol dengesini sağlar.</li>
                            <li>Pozitif bir bakış açısı olarak sağlıklı ve uzun ömürlü bir yaşama destekler.</li>
                        </ul>
                        <blockquote class="mt-40 mb-40">
                            <span class="quote-by">Hetmayar tarafından</span> Viral düş kapanı keytar daktilo, estetik  umami. Estetik polaroid pug rose post-ironik.
                        </blockquote>
                        <p class="mb-30">
                            Hizmet vereceğimiz Firmaların Markalarını çok daha prestijli bir şekilde ön plana çıkarabilmeleri adına Teknolojik
                            ve Yaratıcı alt yapımızı kullanarak işimizi Profesyonel bir şekilde yerine getirmeyi hedefliyoruz.
                            Güvenirliliği kendisine ilke edinmiş profesyonel ve tecrübeli kadromuz sayesinde müşterilerimiz ile uzun soluklu, 
                            güvene dayalı ilişkiler kurmayı amaç edinmiş bulunmaktayız.
                        </p>
                        <div class="row align-items-center">
                            <div class="col-md-5 mb-30">
                                <img src="{{blogauthor}}" alt="Image">
                            </div>
                            <div class="col-md-7 mb-30">
                                <p>
                                    Misyonumuz müşterilerimizin taleplerini ve beklentilerini doğru ve detaylı bir biçimde anlamak, organizasyon öncesinde organizasyonu yaşayarak öngörülemeyen 
                                    unsurları belirlemek, bu unsurlar için önceden tedbirler alarak olumsuz
                                    sürprizleri en başından engellemek ve müşterilerimizi kendi organizasyonlarında misafir etmektir.
                                </p>
                            </div>
                        </div>
                        <p>
                            Vizyonumuz performans ve verimlilik prensibiyle yeni teknolojilerin yakın takipçisi olarak, hizmet kalitemiz ve dinamizmimizle 
                            fark yaratmak, dürüstlük ve özgünlük ilkelerimizle sürekli büyüyerek sektörün önde gelen firmaları arasında yer almaktır.
                            Çünkü çözümsüz hiçbir problemin olmadığına inanır ve bu doğrultuda eksik parçanızı tamamlar. Uzman kadromuz ile, işi tüm boyutlarıyla 
                            üstlenebilecek yetenek ve gücene sahiptir.


                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnisiste natus error sit voluptatem. -->
                        </p>
                    </div>
                    <div class="entry-footer">
                        <div class="tag-and-share mt-50 mb-50 d-md-flex align-items-center justify-content-between">
                            <div class="tag">
                                <h5>İlgili Etiketler</h5>
                                <ul>
                                    <li *ngFor="let relatedtag of relatedtags"><a href="/">{{relatedtag.tag}}</a></li>
                                </ul>
                            </div>
                            <div class="share text-md-right">
                                <h5>sosyal paylaşım</h5>
                                <ul>
                                    <li *ngFor="let blogsocial of blogsocials"><a href='{{blogsocial.url}}'><i class="fab {{blogsocial.icon}}"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-nav d-md-flex align-items-center justify-content-between">
                            <div class="prev-post">
                                <span>Önceki Yazı</span>
                                <a href="/">İş Yatırımdır </a>
                            </div>
                            <span class="icon">
                                <img src="{{blogicon}}" alt="icon">
                            </span>
                            <div class="next-post text-right">
                                <span>Sonraki Konum</span>
                                <a href="/">Az ama öz</a>
                            </div>
                        </div>
                        <div class="related-post mt-50">
                            <h3 class="mb-30">İlgili Yazı</h3>
                            <div class="row">
                                <div class="col-md-6" *ngFor="let relatedpost of relatedposts">
                                    <div class="related-post-box mb-50">
                                        <div class="thumb" style="background-image: url({{relatedpost.img}});">
                                        </div>
                                        <div class="desc">
                                            <a href="/" class="date"><i class="far fa-calendar-alt"></i>{{relatedpost.postdate}}</a>
                                            <h4><a href="/">{{relatedpost.title}}</a></h4>
                                            <p>{{relatedpost.text}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="author-info-box mb-45">
                            <div class="author-img">
                                <img src="{{authorimg}}" alt="Image">
                            </div>
                            <div class="info-text">
                                <span>Written by</span>
                                <h3>Hizmet İlkesi</h3>
                                <p>
                                    İşini severek yapan kadrosu ve birlikte çalıştığı çözüm ortaklarıyla,
                                    her zaman en iyi hizmeti sunmayı ilke edinmiştir. Bu konudaki hassasiyetleri, birçok müşterisi tarafından bilinmektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="comment-template">
                        <h3 class="box-title">03 Comments</h3>
                        <ul class="comments-list mb-100">
                            <li>
                                <div class="comment-img">
                                    <img src="{{commentuser1}}" alt="img">
                                </div>
                                <div class="comment-desc">
                                    <div class="desc-top">
                                        <h6>Rosalina Kelian</h6>
                                        <span class="date">19th May 2020</span>
                                        <a href="/#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="comment-img">
                                            <img src="{{commentuser2}}" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>Rosalina Kelian</h6>
                                                <span class="date">19th May 2020</span>
                                                <a href="/#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment-img">
                                    <img src="{{commentuser3}}" alt="img">
                                </div>
                                <div class="comment-desc">
                                    <div class="desc-top">
                                        <h6>Rosalina Kelian</h6>
                                        <span class="date">19th May 2020</span>
                                        <a href="/#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <h3 class="box-title">Post Comment</h3>
                        <div class="comment-form">
                            <form action="#">
                                <div class="input-group input-group-two textarea mb-20">
                                    <textarea placeholder="Type your comments...."></textarea>
                                    <div class="icon"><i class="fas fa-pen"></i></div>
                                </div>
                                <div class="input-group input-group-two mb-20">
                                    <input type="text" placeholder="Type your Name....">
                                    <div class="icon"><i class="fas fa-user"></i></div>
                                </div>
                                <div class="input-group input-group-two mb-20">
                                    <input type="email" placeholder="Type your email....">
                                    <div class="icon"><i class="fas fa-envelope"></i></div>
                                </div>
                                <div class="input-group input-group-two mb-20">
                                    <input type="url" placeholder="Type your Website....">
                                    <div class="icon"><i class="fas fa-globe"></i></div>
                                </div>
                                <div class="input-group  mt-30">
                                    <button type="submit" class="main-btn btn-filled"><i class="far fa-comments"></i> Post
                                        Comment</button>
                                </div>
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Blog Sidebar -->
            <div class="col-lg-4 col-md-8 col-sm-10">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</section>
<!--====== BLOG SECTION END ======-->
<!--====== INSTAGRAM FEED PART START ======-->
<app-instafeeds></app-instafeeds>
<!--====== INSTAGRAM FEED PART END ======-->
<app-footerthree></app-footerthree>