<div class="instagram-feed-section">
    <div class="container-fluid p-0">
        <ngx-slick-carousel class="instagram-slider" #slickModal="slick-carousel" [config]="instagramsliderConfig">
            <div ngxSlickItem class="single-gallery-image wow fadeInUp" data-wow-delay=".3s" *ngFor="let slider of sliders">
                <a target="_blank" href="{{baseUrl}}{{slider.photo}}"  class="popup-image">
                    <img  src="{{baseUrl}}{{slider.photo}}"  alt="instagram-feed">
                </a>
            </div>
        </ngx-slick-carousel>
    </div>
</div>

