<ul class="sigma-main-menu">
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Anasayfa
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="/">Anasayfa 1</a>
            </li>
            <li class="menu-item">
                <a href="/home-two">Anasayfa 2</a>
            </li>
            <!-- <li class="menu-item">
                <a href='/home-three'>Anasayfa 3</a>
            </li>
            <li class="menu-item">
                <a href='/home-four'>Anasayfa 4</a>
            </li> -->
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">Kategoriler</a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="/organizasyon">Organizasyonlar</a>
            </li>
            <li class="menu-item">
                <a href="/hediyelik">Hediyelik Ürünler</a>
            </li>
            <li class="menu-item">
                <a href="/lazerkesim">Lazer Kesim Ve Uv Baskı</a>
            </li>
            <li class="menu-item">
                <a href="/partistore">Parti Store</a>
            </li>
            <li class="menu-item">
                <a href="/yiyecekiçecek">Yiyecek ve İçecekler</a>
            </li>
            <li class="menu-item">
                <a href="/müzikeğlence">Müzik Eğlence</a>
            </li>       
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Blog
      </a>
        <ul class="sub-menu">
            <li class="menu-item"> <a href="/blog-grid-sidebar">Blog Grid Sidebar</a>
            </li>
            <li class="menu-item"> <a href="/blog-detail">Blog Details</a>
            </li>
            <li class="menu-item"> <a href="/blog-grid">Blog Grid</a>
            </li>
            <!-- <li class="menu-item"> <a href='/blog-list'>Blog List</a>
            </li> -->
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Sayfalar
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="/classification">Sınıflandırma</a>
            </li>
            <li class="menu-item">
                <a href="/account">Hesap</a>
            </li>
            <li class="menu-item">
                <a href="/gallery">Galeri</a>
            </li>
            <li class="menu-item">
                <a href="/team">Takım</a>
            </li>
            <li class="menu-item">
                <a href="/error">Hata 404</a>
            </li>
            <li class="menu-item">
                <a href="/coming-soon">Yakında gelecek</a>
            </li>
            <li class="menu-item">
                <a href="/typography">Tipografi</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="/shop-left">
          Spot Ürünler
      </a>
    </li>
    <li class="menu-item">
        <a href="/organizasyon">
            Organizasyon
      </a>
    </li>
    <li class="menu-item">
        <a href="/about">
            Hakkında
      </a>
    </li>
    <li class="menu-item">
        <a href="/contact">
          İletişim
      </a>
    </li>
</ul>