<ul class="sigma-main-menu">
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Anasayfa
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink="/">Anasayfa 1</a>
            </li>
            <li class="menu-item">
                <a routerLink="/home-two">Anasayfa 2</a>
            </li>
            <!-- <li class="menu-item">
                <a routerLink='/home-three'>Anasayfa 3</a>
            </li>
            <li class="menu-item">
                <a routerLink='/home-four'>Anasayfa 4</a>
            </li> -->
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">Kategoriler</a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink="/organizasyon">Organizasyonlar</a>
            </li>
            <li class="menu-item">
                <a routerLink="/hediyelik">Hediyelik Ürünler</a>
            </li>
            <li class="menu-item">
                <a routerLink="/lazerkesim">Lazer Kesim Ve Uv Baskı</a>
            </li>
            <li class="menu-item">
                <a routerLink="/partistore">Parti Store</a>
            </li>
            <li class="menu-item">
                <a routerLink="/yiyecekiçecek">Yiyecek ve İçecekler</a>
            </li>
            <li class="menu-item">
                <a routerLink="/müzikeğlence">Müzik Eğlence</a>
            </li>       
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Blog
      </a>
        <ul class="sub-menu">
            <li class="menu-item"> <a routerLink="/blog-grid-sidebar">Blog Grid Sidebar</a>
            </li>
            <li class="menu-item"> <a routerLink="/blog-detail">Blog Details</a>
            </li>
            <li class="menu-item"> <a routerLink="/blog-grid">Blog Grid</a>
            </li>
            <!-- <li class="menu-item"> <a routerLink='/blog-list'>Blog List</a>
            </li> -->
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="/">
          Sayfalar
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink="/classification">Sınıflandırma</a>
            </li>
            <li class="menu-item">
                <a routerLink="/account">Hesap</a>
            </li>
            <li class="menu-item">
                <a routerLink="/gallery">Galeri</a>
            </li>
            <li class="menu-item">
                <a routerLink="/team">Takım</a>
            </li>
            <li class="menu-item">
                <a routerLink="/error">Hata 404</a>
            </li>
            <li class="menu-item">
                <a routerLink="/coming-soon">Yakında gelecek</a>
            </li>
            <li class="menu-item">
                <a routerLink="/typography">Tipografi</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a routerLink="/shop-left">
          Spot Ürünler
      </a>
    </li>
    <li class="menu-item">
        <a routerLink="/organizasyon">
            Organizasyon
      </a>
    </li>
    <li class="menu-item">
        <a routerLink="/about">
            Hakkında
      </a>
    </li>
    <li class="menu-item">
        <a routerLink="/contact">
          İletişim
      </a>
    </li>
</ul>